{% extends "instabam/layout.html" %}

{%block body%}
<h1 class="text-center" style="padding-top: 10px;">Welcome to the Home Page!</h1>
<br>

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for post in posts %}
        <div class="col">
            <div class="card shadow-sm">
                <a href="{% url 'view_post' post.id %}">
                    <img src="{{post.body.url}}" style="object-fit: contain; max-height: 15rem;" alt="image" class="img-thumbnail card-img-top img-responsive">
                </a>

                <div class="card-body">
                    <p class="card-text">{{post.caption_text}}</p>
                    <p class="card-text">Likes: {{post.like_count}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{% url 'view_post' post.id %}">
                                <button type="submit" class="btn btn-success badge" name="reply-button">Reply</button>
                            </a>
                        </div>
                        <div class="btn-group">
                            <a href="/like-post?post_id={{post.id}}">
                                <button type="submit" class="btn btn-primary badge" name="like-button">Like</button>
                            </a>
                        </div>
                        {% if user == post.author %}
                        <form method="post">
                            {% csrf_token %}
                            <div class="btn-group">
                                <button type="submit" class="btn btn-danger badge" name="post-id" value="{{post.id}}">Delete</button>
                            </div>
                        </form>
                        {%endif%}
                        <small class="text-muted">Date created: {{post.created_at}}</small> </br>
                        <small class="text-muted">Created by: {{post.author}}</small>
                    </div>
                </div>
            </div>
      </div>
        {% endfor %}
    </div>  
</div>

{%endblock%}